@charset "UTF-8";

@import 'compass/reset';
@import 'compass/css3';

$bg_color: #1a334d;
$ball_width: 20px;

@mixin same_width($width: 400px) {
  width: $width;
  height: $width;
}

@mixin center {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  margin: auto;
}

@mixin BallPosition($radius, $deg) {
  left: 100px + $radius * cos($deg);
  top: 100 - $radius * sin($deg);
  margin-top: -$ball_width/2;
  margin-left: -$ball_width/2;
}

body {
  background: $bg_color;
}

.case {
  position: relative;
  float: left;
  @include same_width;
}

/* example01 */

#example_01 {
  svg {
    @include same_width;
    -webkit-animation: example_01 .8s infinite linear;
    filter: blur(1px);
  }
  @-webkit-keyframes example_01 {
    0%{
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

/* example02 */

#example_02 {
  .circle {
    @include center;
    @include same_width(200px);
    span {
      position: absolute;
      display: inline-block;
      @include same_width($ball_width);
      background: #fff;
      @include border-radius($ball_width/2);
      -webkit-animation: example_02 1.2s infinite ease;
      @for $n from 1 through 12 {
        &:nth-child(#{$n}) {
          @include BallPosition(60px, $n * 30deg);
          -webkit-animation-delay: 0.1s * $n;
        }
      }
    }
  }
  @-webkit-keyframes example_02 {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }
}
