<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    <%= title %> - Blog</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand href="/">Brand</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="" class="active">首页</a></li>
          <li><a href="/login">登入</a></li>
          <li><a href="/reg">注册</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hero-unit">
      <h1>欢迎来到NodeBlog</h1>
      <p>This is a blog system based on nodejs</p>
      <p>
        <a href="/login" class="btn btn-primary">登录</a>
        <a href="/reg" class="btn btn-default">立即注册</a>
      </p>
    </div>
    <div class="row">
      <div class="span4">
        <h2>Carrie says:</h2>
        <p>Hello World!!!!</p>
      </div>
      <div class="span4">
        <h2>我 说:</h2>
        <p>如果需要让巨幕组件的宽度与浏览器宽度一致并且没有圆角，请把此组件放在所有 .container 元素的外面，并在组件内部添加一个 .container 元素。</p>
      </div>
      <div class="span4">
        <h2>Bootstrap says:</h2>
        <p>包括200个来自 Glyphicon Halflings 的字体图标。Glyphicons Halflings 一般是收费的，但是他们的作者允许 Bootstrap 免费使用。为了表示感谢，希望你在使用时尽量为 Glyphicons 添加一个友情链接。</p>
      </div>
    </div>
    <footer>
      <p>FOOTER HERE</p>
    </footer>
  </div>
  <script src="javascripts/jquery-1.10.2.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
</body>
</html>
