<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>-------- Blog</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand href=" /">Brand</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/" class="active">首页</a></li>
          <li><a href="/login">登入</a></li>
          <li><a href="/reg">注册</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <% if (success)  { %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
    <% } else if (error) { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <% } else {%>
      <div class="alert alert-info" role="alert">
        请填写信息
      </div>
    <% } %>
    <form class="form-horizontal" method="POST" role="form">
      <legend>用户注册</legend>
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-4">
          <input type="text" id="username" class="form-control" name="username">
          <p class="help-block">Your account is used for login and display</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-4">
          <input type="password" id="password" class="form-control" name="password">
        </div>
      </div>
      <div class="form-group">
        <label for="password-repeat" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-4">
          <input type="password" id="repassword" class="form-control" name="repassword">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
          <button type="submit" class="btn btn-primary">注 册</button>
        </div>
      </div>
    </form>
    <footer>
      <br>
      <p>FOOTER HERE</p>
    </footer>
  </div>
  <script src="javascripts/jquery-1.10.2.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
</body>
</html>
