.top-header {
  position: fixed;
  width: 100%;
  height: 58px;
  background: #2ca9e1;
}

.top-container {
  width: 960px;
  margin: 0 auto;
}

.site-logo a img {
  float: left;
  width: 120px;
  height: 58px;
}

.user-block {
  position: relative;
  float: right;
  width: 44px;
  height: 44px;
  margin-top: 6px;
  margin-right: 6px;
  cursor: pointer;
}

.avatar img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.dropdown > .dropdown-list {
  display: block;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 52px;
  left: -18px;
  width: 80px;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  border-top: 0;
  border-radius: 4px;
}

.dropdown-list li {
  background: #fff;
  transition: background-color .3s;
}

.dropdown-list li:hover {
  background: #f1f1f1;
}

.dropdown li+li {
  border-top: 1px solid #eee;
}

.dropdown-list li a {
  display: inline-block;
  width: 80px;
  height: 34px;
  line-height: 34px;
  color: #666;
}

.top-panel {
  padding-top: 58px;
}

.showcase {
  width: 100%;
  height: 160px;
  background: url(img/showcase.jpg) center no-repeat;
}

.sorts-container {
  height: 80px;
  background: #5b7e91;
}

.content-wrapper {
  width: 960px;
  margin: 0 auto;
}

.content-wrapper:after {
  display: table;
  content: '';
  clear: both;
}

.contents {
  float: left;
  width: 800px;
}

.poetry-item {
  margin-top: 10px;
}

.poetry-item:after {
  display: table;
  content: '';
  clear: both;
}

.thumbnail {
  float: left;
}

.thumbnail img {
  float: left;
  width: 84px;
  height: 84px;
}

.poetry-content {
  float: left;
  padding: 6px 20px;
}

.poetry-content p {
  font-family: 'FangSongBen';
  font-size: 16px;
  line-height: 24px;
}

.info-row {
  position: relative;
  float: right;
  width: 170px;
  padding-top: 6px;
  text-align: right;
}

.user-avatar-small {
  float: right;
  width: 28px;
  height: 28px;
  background-size: 100%;
}

.create-time {
  display: inline-block;
  margin-top: 30px;
  margin-right: -28px;
  color: rgba(24, 37, 50, .5);
}

.cover-stat {
  float: right;
  width: 170px;
  margin-top: 3px;
}

.stat-appreciations {
  float: right;
  padding: 0 10px 0 30px;
  height: 24px;
  line-height: 24px;
  color: rgba(24, 37, 50, .5);
  background-image: url(img/heart_like.png);
  background-repeat: no-repeat;
  background-position: 5px -1px;
  border: 1px solid #f1f1f1;
  cursor: pointer;
  margin-right: -1px;
  border-radius: 1px;
}

.stat-appreciations.likes {
  background-position: 5px -27px;
}

.stat-messages {
  float: right;
  padding: 0 10px 0 30px;
  height: 24px;
  line-height: 24px;
  color: rgba(24, 37, 50, .5);
  background-image: url(img/heart_like.png);
  background-repeat: no-repeat;
  background-position: 5px -1px;
  border: 1px solid #f1f1f1;
  border-radius: 1px;
}

/* release.ejs */

.division {
  width: 100%;
  background: #f8f9fa;
}

.release-note {
  width: 960px;
  height: 48px;
  margin: 0 auto;
}

.release-note a {
  display: inline-block;
  padding: 14px 19px;
  border-bottom: 2px solid transparent;
  color: rgba(24, 37, 50, .5);
  transition: border-bottom .3s, color .3s;
}

.release-note a:hover {
  color: #007fff;
  border-bottom-color: #007fff;
}

.release-box {
  width: 960px;
  margin: 40px auto;
}

.poetry-input {
  width: 600px;

}

.poetry-input input[type='text'] {
  width: 600px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 15px;
  outline: none;
}

.poetry-input input[type='text']:hover,
.poetry-input input[type='text']:focus {
  border-color: #007fff;
}

/*.poetry-input input[type='file'] {

}
*/
.submit-btn {
  width: 220px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #007fff;
  border: 0;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: background .3s;
}

.submit-btn:hover {
  background-color: #2391ff;
}

/* signup && login */

.showmsg {
  width: 960px;
  margin: 20px auto 0;
}

.msg {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #888;
  background: #f3f3f3;
  padding: 0 10px;
  border: 1px solid #e5e4e6;
  border-radius: 3px;
}

.msg-successful {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.msg-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.msg-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.welcome-cover {
  width: 960px;
  margin: 20px auto;
}

.signup-input {
  width: 480px;
}

.signup-input input[type='text'],
.signup-input input[type='password']{
  width: 320px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 15px;
  outline: none;
  transition: border .3s;
}

.signup-input input[type='text']:hover,
.signup-input input[type='text']:focus,
.signup-input input[type='password']:hover,
.signup-input input[type='password']:focus {
  border-color: #007fff;
}

