<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<a href="/">首页</a>
		<a href="/subform">如何提交表单及接受参数？<a>
		<a href="/usesession">如何使用session？<a>
		<a href="/usecookies">如何使用cookies？<a>
		<a href="/usecrypto">如何字符串加密？<a>
  </body>
</html>
