@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Arial', 'Helvetica', 'Microsoft yahei', sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

img {
  border-style: none;
}

li {
  list-style: none;
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.wrapper {
  width: 100%;
  background:
    linear-gradient(90deg, #7E898F 0%, #636C75 100%),
    radial-gradient(at top, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.55) 100%),
    radial-gradient(at top, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.08) 63%);
  background-blend-mode: multiply, screen;
}

.content {
  width: 1000px;
  margin: 0 auto;
}

.top {

  height: 100px;
}

.m-box {
  position: relative;
  float: left;
  width: 218px;
  margin-right: 32px;
  margin-bottom: 30px;
}

.cover {
  display: inline-block;
  width: 218px;
  height: 300px;
}

.cover img {
  display: inline-block;
  width: 218px;
  height: 300px
}

.title {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.genre {
  font-size: 12px;
  color: #fff;
}

.rate {
  position: absolute;
  right: -18px;
  top: 230px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  background: #f68d01;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
  cursor: default;
  /*box-shadow: 0 2px 10px #000;*/
}

.row {
  position: relative;
  width: 1000px;
  border-bottom: 1px dashed #999;
  padding-top: 15px;
}

.row h4 {
  position: absolute;
  top: 20px;
  left: 10px;
  color: #ddd;
}

.choice {
  width: 800px;
  margin: 0 auto;
}

.choice:after {
  display: table;
  content: '';
  clear: both;
}

.choice a {
  float: left;
  margin-right: 15px;
  margin-bottom: 8px;
  color: #ddd;
  padding: 3px;
  border-radius: 3px;
}

.more {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.cur {
  background: #f68d01;
  color: #fff !important;
}

.backtotop {
  display: none;
  position: fixed;
  right: 50%;
  margin-right: -600px;
  bottom: 10%;
  width: 52px;
  height: 72px;
  background: url(../images/back_to_top.png) center no-repeat;
  cursor: pointer;:
}

.backtotop:hover {
  background: url(../images/back_to_top_hover.png) center no-repeat;
}

