<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="top-header"></div>
    <div class="top-panel">
      <div class="division">
        <div class="release-note">
          <a href="javascript:">发布指南</a>
        </div>
      </div>
      <div class="release-box">
        <form action="/release" method="POST">
          <div class="poetry-input">
            <input name="firstline" type="text" placeholder="第一行">
            <input name="secondline" type="text" placeholder="第二行">
            <input name="thirdline" type="text" placeholder="第三行">
            <button class="submit-btn" id="release">发 布</button>
          </div>
        </form>
      </div>
    </div>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
  </body>
</html>
