<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/signin.css' />
	<script src="/javascripts/jquery-1.10.2.min.js"></script>
</head>
	<body>
		<div class="container" id="container">
			
			<% if (locals.success) {%>
				<div id="alt_success" class="alert alert-success">
					<%- success %>
				</div>
			<% } %>
			<% if (locals.error) {%>
				<div id="alt_warning" class="alert alert-warning">
					<%= error %>
				</div>
			<% } %>


			<form class="form-signin" method="post" role="form">
				<h2 class="form-signin-heading">注册</h2>
				<input type="text" id="txtUserName" name="txtUserName" class="form-control" placeholder="用户名" required autofocus>
				<input type="password" id="txtUserPwd" name="txtUserPwd" class="form-control" placeholder="密码" required>
				<input type="password" id="txtUserRePwd" name="txtUserRePwd" class="form-control" placeholder="重复密码" required>

				<button id="btnSub" class="btn btn-lg btn-primary" type="submit">注 册</button>
				<a href="/login" class="btn btn-link" role="button">登录</a>
			</form>
		</div>
	</body>
	<script>
		String.prototype.format = function(args) {
			var result = this;
			if (arguments.length > 0) {
				if (arguments.length === 1 && typeof(args) == 'object') {
					for (var key in args) {
						if (args[key] !== undefined) {
							var reg = new RegExp("({"+ key +"})", 'g');
							result = result.replace(reg, args[key]);
						}
					}
				}
				else {
					for (var i = 0; i < arguments.length; i++) {
						if (arguments[i] !== undefined) {
							var reg = new RegExp("({)" + i + "(})", "g");
							result = result.replace(reg, arguments[i]);
						}
					}
				}
			}
			return result;
		};

		$(function() {
			$('#btnSub').click(function(){
				var 
				$txtUserName = $('#txtUserName'),
				txtUserNameVal = $.trim($txtUserName.val()),
				$txtUserPwd = $('#txtUserPwd'),
				txtUserPwdVal = $.trim($txtUserPwd.val()),
				$txtUserRePwd = $('#txtUserRePwd'),
				txtUserRePwdVal = $.trim($txtUserRePwd.val());
				errorTip = '<div id="errorTip" class="alert alert-warning">{0}</div>';

				$('#errorTip, #alt_success, #alt_warning').remove();

				if (txtUserNameVal.length === 0) {
					$('#container').prepend(errorTip.format('用户名不能为空'));
					$txtUserName.focus();
					return false;
				}

				if (txtUserPwdVal.length === 0) {
					$('#container').prepend(errorTip.format('密码不能为空'));
					$txtUserPwd.focus();
					return false;
				}

				if (txtUserRePwdVal.length === 0) {
					$('#container').prepend(errorTip.format('重复密码不能为空'));
					$txtUserRePwd.focus();
					return false;
				}

				if (txtUserRePwdVal !== txtUserPwdVal) {
					$('#container').prepend(errorTip.format('两次密码不一致'));
					$txtUserPwd.focus();
					return false;
				}

				return true;
			});
		});
	</script>
</html>